.header {
  padding: 1% 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.addPicture {
  display: flex;
}

.addPicture__text {
}

.addPicture__add {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 10px 0px;
  width: 38px;
  height: 24px;
  background-color: var(--color-one);
  color: white;
  margin-right: 1%;
  cursor: pointer;
}

.saving {
  display: flex;
}

.save {
  margin: 0 10% 0 0;
}

/*----------------------------------*/
