.holder__animation {
  display: flex;
  background: var(--color-two);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0 0.5%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 3;
}
