.timeline {
  height: 100%;
}

.timeline__container {
  height: 100%;
  padding: 3% 15px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.timeline__NonPersonal {
  display: flex;
}

.timeline__line {
  height: 100px;
  max-height: 20px;
  background-color: var(--timeline-color);
  display: flex;
  align-items: center;
  overflow-y: visible;
  position: relative;
  z-index: 1;
}
.timeline__box::after {
  content: "";
  display: block;
  min-height: 100%;
}

.timeDot {
  max-height: 50%;
  border-radius: 100%;
  background: var(--color-two);
}
.timeline__play {
  position: absolute;
  display: flex;
  justify-content: center;
}
.play {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9% 1.1%;
  border-radius: 100%;
  background: var(--color-one);
  cursor: pointer;
}

.timeline__box {
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow: scroll;
}

/*-Cursor--------------------------------*/
.cursor {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2.5%;
  bottom: 0;
  cursor: pointer;
  z-index: 3;
  user-select: none;
}
.timeline__cursor img {
  pointer-events: none;
}
.cursor__dash {
  height: 30px;
  width: 5px;
  border-radius: 10px;
  background: var(--color-two);
}
.cursor__value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border-radius: 100%;
  padding: 10px;
  background-color: var(--cursor-color);
  color: var(--cursor-text-color); */
  margin-bottom: 10%;
}
